@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* --- NAVIGATION --- */

nav{
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* --- HERO / HOME --- */

.container {
    padding: 60px 10%;
    max-width: 1400px;
    margin: 0 auto;
}

.header-text {
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 35px;
}

.header-text h1 {
    font-weight: 800;
}

.more-about-me {
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.right-content img{
    width: 330px;
    height: 325px;
    object-fit: cover;
    border-radius: 15px;
}

.button-1 {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.introduction {
    font-size: 18px;
    line-height: 1.4;
    padding-left: 10px;
}

.introduction p {
    margin-bottom: 1em;
}

.social-media {
    margin-top: 8px;
    padding-top: 10px;
    padding-left: 8px;
}

.social-media a {
    text-decoration: none;
    font-size: 28px;
    margin-right: 10px;
    color: black;
    display: inline-block;
}

.tech-stack {
    margin: 40px auto 100px auto;
    max-width: 1400px;
    width: 50%;
    display: flex;
    overflow: hidden;
    gap: 0;
}

.tech-stack::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
    flex-shrink: 0;
}

.tech-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 25px;
    width: max-content;
    border-radius: 12px;
    white-space: nowrap;
}

.tech-card i {
    font-size: 1.5rem;
}

.tech-card p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/* --- MIDTERM --- */

#midterm {
    padding: 40px 10%;
    max-width: 1400px;
    margin: 0 auto;
}

.midterm-text h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 750;
    margin-bottom: 15px;
}

.midterm-text p {
    text-align: center;
    font-size: 18PX;
    margin-bottom: 30px;
    line-height: 25px;
}

.midterm-categories {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 30px;
    align-items: start;
}

.midterm-categories .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    min-height: 180px;
    white-space: normal;

    border-radius: 15px;
    border: 1px solid #E8E8E8;
    padding: 1rem;
}

/* For Image

.midterm-categories .card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
    display: block;
    flex-shrink: 0;
}

*/

.midterm-categories .card i {
    margin: 0;
    padding: 0;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.75rem 1rem 0.25rem 1rem;
    margin-bottom: 10px;
}

.card-header i {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.card-header h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

.midterm-categories .card p {
    font-size: .9rem;
    color: #6b7280;
    line-height: 1.6;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
}

.see-more {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.see-more-btn {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.see-more-btn p {
    color: #fff;
    padding: .03rem 2rem;
}

/* --- APPRECIATION --- */

#appreciation {
    padding: 40px 10%;
    max-width: 1400px;
    margin: 0 auto;
}

.appreciation-text {
    align-items: center;
}

.appreciation-text h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 750;
    margin-bottom: 30px;
}

.msg-card {
    display: flex;
    gap: 20px;
}

.msg-img img{
    width: auto;
    max-height: 320px;
    border-radius: 25px;
}

.message {
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 25px;
    max-height: 320px;

    gap: 20px;
    padding: 3rem;
    line-height: 1.4;
}

.message h3 {
    font-size: 20px;
}

.message p {
    font-size: 18px;
}

/* --- CONTACT --- */

